# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
env/
ENV/
.venv/
.idea/
.vscode/

# FastAPI specific
*.db
*.sqlite3

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Test and coverage
htmlcov/
.coverage
.tox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Build
build/
dist/
*.egg-info/
.eggs/

# dotenv
.env
.env.*

# Migrations
migrations/